Source: lingmo-sdk
Section: libs
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>= 3.20),
    debhelper-compat (= 13),
    pkg-config,
    qt6-base-dev (>= 6.5),
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-sdk
Rules-Requires-Root: no

Package: liblingmosdk1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lingmo-sdk
 Lingmo Desktop lingmo-sdk.

Package: liblingmosdk-dev
Architecture: any
Depends: liblingmosdk1 (= ${binary:Version}), ${misc:Depends}
Description: lingmo-sdk - development files
 This package contains the development files.